/* General Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.2); /* Dark semi-transparent background */
    color: var(--white);
    padding: 1rem 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    backdrop-filter: blur(5px);
    transition: background 0.3s ease;
}

/* Navbar Container */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar Brand */
.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
    position: left ;
}

.navbar-brand:hover {
    font-size: 2rem;
    color:#0077cc;
}

/* Menu Icon for Mobile */
.menu-icon {
    display: none;
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
}

/* Navbar Menu */
.navbar-menu {
    list-style: none;
    display: flex;
    gap: 5rem; 
    margin: 0;
    padding: 0;
}

.navbar-item {
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
}

.navbar-item:hover {
    color: #0077cc; 
}

.navbar-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #0077cc; 
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar-item:hover::after {
    transform: scaleX(1);
}

/* Specific styles for the login button */
.navbar-item.login-button {
    background-color:rgba(0, 0, 0, 0.2); 
    color: var(--white);
    border: 2px solid #0077cc;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.navbar-item.login-button:hover {
    background-color:#0077cc; 
    border-color:#0077cc;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon {
        display: block;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: rgba(34, 34, 34, 0.95); 
        width: 100%;
        height: calc(100vh - 70px);
        padding-top: 20px;
        padding-left: 20px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        visibility: hidden;
        opacity: 0;
    }

    .navbar-menu.active {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }

    .navbar-menu li {
        margin: 15px 0; 
    }

    .navbar-item {
        font-size: 1.2rem;
        padding: 10px 0;
    }

    .navbar-item.login-button {
        margin-top: 20px;
    }
}
